/**
 * http://chir.ag/projects/name-that-color/
 */
$white: white;
$mine-shaft: #333333;
$waikawa-gray: #5a72a1;
$mirage: #1e2e36;
$oxford-blue: #2f434b;
$bright-gray: #393e48;
$gallery: #eeeeee;
$rock-blue: #A0BAC9;